@import './base.css';
@import 'tailwindcss';
@plugin "daisyui" {
  themes: winter --default;
}

::selection {
  background: #1d4ed8;
  color: white;
}

body {
  font-family:
    /* 'Pretendard', */
    'Segoe UI',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
